In [72]:
# Importing dependencies
import csv
import numpy as np
import pandas as pd
from datetime import datetime,date

In [73]:
# Initial exploration of dataset
rat_data = pd.read_csv('resources/Rat_Sightings.csv')

### Initial exploration of dataset

In [74]:
rat_data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31464015,09/04/2015 12:00:00 AM,09/18/2015 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10006.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.707772,-74.012963,"(40.70777155363643, -74.01296309970473)"
1,31464024,09/04/2015 12:00:00 AM,10/28/2015 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10306.0,2270 HYLAN BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.575209,-74.104547,"(40.575209242947444, -74.1045465185469)"
2,31464025,09/04/2015 12:00:00 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10310.0,758 POST AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631236,-74.126878,"(40.63123555151668, -74.12687759748677)"
3,31464026,09/04/2015 12:00:00 AM,09/14/2015 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,198 SCHOLES STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708987,-73.941207,"(40.70898692345805, -73.94120690238431)"
4,31464027,09/04/2015 12:00:00 AM,09/22/2015 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10462.0,2138 WALLACE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854130,-73.864813,"(40.85413014360452, -73.86481331044513)"

Our dataset contains 101,914 rows and 51 columns (below)

In [75]:
rat_data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Action Updated Date', 'Community Board', 'Borough',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name', 'School Number',
       'School Region', 'School Code', 'School Phone Number', 'School Address',
       'School City', 'School State', 'School Zip', 'School Not Found',
       'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough',
       'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [76]:
rat_data.describe()

,Unique Key,Incident Zip,Facility Type,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude
count,1.019140e+05,101578.000000,0.0,1.012080e+05,101208.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101208.000000,101208.000000
mean,2.815864e+07,10728.680895,NaN,1.002473e+06,208639.988953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739304,-73.934206
std,6.015376e+06,631.206648,NaN,1.958043e+04,29956.193531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.082224,0.070617
min,1.146439e+07,83.000000,NaN,9.134950e+05,121350.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.499502,-74.254437
25%,2.341452e+07,10086.250000,NaN,9.936100e+05,186934.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679740,-73.966216
50%,2.883680e+07,10472.000000,NaN,1.001398e+06,203425.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.725009,-73.938112
75%,3.346014e+07,11222.000000,NaN,1.011951e+06,236364.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.815428,-73.899963
max,3.719700e+07,100354.000000,NaN,1.066922e+06,271876.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.912869,-73.701632

In [77]:
# Removing time component from dates
rat_data['Created Date'] = pd.to_datetime(rat_data['Created Date']).dt.date

# Removing unecessary columns
rat_data = rat_data.drop(['Closed Date', 
                         'Agency', 
                         'Incident Address', 
                         'Street Name', 
                         'Cross Street 1', 
                         'Cross Street 2', 
                         'Intersection Street 1', 
                         'Intersection Street 2', 
                         'Address Type', 
                         'Landmark', 
                         'Facility Type', 
                         'Status', 
                         'Due Date', 
                         'Resolution Action Updated Date', 
                         'Community Board', 
                         'Park Facility Name', 
                         'Park Borough', 
                         'School Name', 
                         'School Number', 
                         'School Region', 
                         'School Code', 
                         'School Phone Number', 
                         'School Address', 
                         'School City', 
                         'School State', 
                         'School Zip', 
                         'School Not Found', 
                         'School or Citywide Complaint', 
                         'Vehicle Type', 
                         'Taxi Company Borough', 
                         'Taxi Pick Up Location', 
                         'Bridge Highway Name',
                         'Bridge Highway Direction', 
                         'Road Ramp', 
                         'Bridge Highway Segment', 
                         'Garage Lot Name', 
                         'Ferry Direction', 
                         'Ferry Terminal Name'], axis=1)

# Renaming columns
rat_data.rename(columns={'Created Date': 'Sighting Date', 'Descriptor': 'Incident'}, inplace=True)
rat_data.head()

,Unique Key,Sighting Date,Agency Name,Complaint Type,Incident,Location Type,Incident Zip,City,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,31464015,2015-09-04,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10006.0,NEW YORK,MANHATTAN,980656.0,197137.0,40.707772,-74.012963,"(40.70777155363643, -74.01296309970473)"
1,31464024,2015-09-04,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10306.0,STATEN ISLAND,STATEN ISLAND,955207.0,148858.0,40.575209,-74.104547,"(40.575209242947444, -74.1045465185469)"
2,31464025,2015-09-04,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10310.0,STATEN ISLAND,STATEN ISLAND,949033.0,169278.0,40.631236,-74.126878,"(40.63123555151668, -74.12687759748677)"
3,31464026,2015-09-04,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,BROOKLYN,BROOKLYN,1000550.0,197585.0,40.708987,-73.941207,"(40.70898692345805, -73.94120690238431)"
4,31464027,2015-09-04,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10462.0,BRONX,BRONX,1021648.0,250489.0,40.854130,-73.864813,"(40.85413014360452, -73.86481331044513)"

In [78]:
rat_data.describe()

,Unique Key,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude
count,1.019140e+05,101578.000000,1.012080e+05,101208.000000,101208.000000,101208.000000
mean,2.815864e+07,10728.680895,1.002473e+06,208639.988953,40.739304,-73.934206
std,6.015376e+06,631.206648,1.958043e+04,29956.193531,0.082224,0.070617
min,1.146439e+07,83.000000,9.134950e+05,121350.000000,40.499502,-74.254437
25%,2.341452e+07,10086.250000,9.936100e+05,186934.000000,40.679740,-73.966216
50%,2.883680e+07,10472.000000,1.001398e+06,203425.500000,40.725009,-73.938112
75%,3.346014e+07,11222.000000,1.011951e+06,236364.000000,40.815428,-73.899963
max,3.719700e+07,100354.000000,1.066922e+06,271876.000000,40.912869,-73.701632

In [79]:
rat_data['Location Type'].unique()

array(['3+ Family Mixed Use Building', 'Commercial Building',
       '1-2 Family Dwelling', '3+ Family Apt. Building', 'Public Stairs',
       'Other (Explain Below)', 'Vacant Lot', 'Construction Site',
       'Hospital', 'Parking Lot/Garage', 'Catch Basin/Sewer',
       'Vacant Building', '1-2 Family Mixed Use Building',
       'Public Garden', 'Government Building', 'Office Building',
       'School/Pre-School', 'Day Care/Nursery',
       'Single Room Occupancy (SRO)', 'Summer Camp', nan], dtype=object)